h1{
	color: rgb(246, 116, 137);
}
hr{
	border-top: 8px dotted rgb(186, 2, 186);

}
h3{
	color:gray;
}
h2{
	font-style: italic;
}
.para{
	color:white;
	background: black;
	padding-left:10px;
}
a{
	text-decoration: none;
}
.email{
	color: green;
	font-weight: bold;
	text-decoration: none;
}
.web{
	text-decoration: underline;
	color: red;
}
.contact{
	border:3px solid rgb(186, 2, 186);
	background-color: azure;
}
li{
	font-weight: bold;
}
